                    <h4 class="card-title">Ready to deploy a server?</h4>
                    <h5>If you would like to deploy a server, either go to Manage Servers -> Deploy Server or click the button below</h5><br>
                    <a class="btn btn-primary btn-lg" href="../servers/new">Deploy Server</a>