<footer style="background-color: #161820" class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">© <%= extra.home.name %> | Powered by <a style="color: white" href="https://github.com/HeliactylCP/panel/">Heliactyl</a></span>
    </div>
</footer>
