<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">© <%= extra.home.name %> | Powered by <a style="color: white" href="https://github.com/Heliactyl/Heliactyl-11/">Heliactyl</a></span>
    </div>
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
<span class="text-muted d-block text-center text-sm-left d-sm-inline-block"><a style="color: white" href="../privacy-policy">Privacy Policy</a> | <a style="color: white" href="../terms-of-service">Terms of Service</a></span>
    </div>
</footer>
<!-- Fun fact: 28, 06, 21, 2, 38, 43 was the exact second that Hexit was given away, sad right? -->
